<ion-view view-title="Accounts">
    <ion-content class="accounts">

        <div class="card card-account">
            <div class="item">
                <div class="row">
                    <div class="col col-20">
                        <div class="btn-account-icon btn-account-icon-bitcoin">
                            <img src="img/bitcoin-logo.svg"/>
                        </div>
                    </div>
                    <div class="col col-80 card-account-text">
                        <h2>Bitcoin</h2>
                        <p>&2.00000000</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-20">
                        <div class="btn-account-icon btn-account-icon-air">
                            <img src="img/air-logo.svg"/>
                        </div>
                    </div>
                    <div class="col col-80 card-account-text">
                        <h2>Air</h2>
                        <p>$3000.00</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-20">
                        <div class="btn-account-icon btn-account-icon-swap">
                            <i class="ion-arrow-swap" style="font-size: 26px"></i>
                        </div>
                    </div>
                    <div class="col col-80 card-account-text">
                        <h2>Transfer</h2>
                        <p>Between accounts</p>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
