<ion--view view-title="Confirm Purchase">

    <ion-content class="center">
            <h1 class="success">Confirm purchase</h1>
            <br>
            <h4>Package: {{data.valuePackage}} {{data.packageCurrency}}</h4>
            <h4>Operator: {{data.operatorName}}</h4>
            <h4>Price: {{data.quote.output_amount}}</h4>
            <br>
    </ion-content>
    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>
    <a class="high-footer bar bar-footer bar-air" ng-click="placeOrder(data.quote.quote_reference)">
        <h1 class="title">Confirm</h1>
    </a>
    </button>

</ion--view>