<ion--view view-title="Confirm Purchase">

    <ion-content class="center">
            <h1 class="success">Confirm purchase</h1>
            <br>
            <h4>Package: 10 ZAR</h4>
            <h4>Operator: Cell C</h4>
            <h4>Price: R11.24</h4>
            <br>
    </ion-content>
    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>
    <a class="high-footer bar bar-footer bar-air" href="#/app/dashboard">
        <h1 class="title">Confirm</h1>
    </a>
    </button>

</ion--view>