<ion--view view-title="Buying Bitcoin">

    <ion-content class="padding" overflow-scroll="false" scroll="false">
        <div class="row row-top">
            <div class="col col-100 text-center">
                <h4>You are buying R{{ data.amount }} worth of bitcoin.</h4>
                <br>
                <p>Tap to scan your bitcoin address for receiving bitcoin. </p>
            </div>
        </div>


        <div class="row row-center">
            <div class="col col-100 col-center text-center">
                <button class="button button-large button-air button-block" ng-click="scanQr()">
                    Scan Address
                </button>
                <button class="button button-large button-air button-block" ng-click="submit(data.amount, data.email)">
                    Enter Address Manually
                </button>
            </div>
        </div>

    </ion-content>


</ion--view>