<ion-view view-title="Agent Dashboard">
    <ion-content class="dashboard">

        <div class="row">
            <div class="col col-50">
                <a class="list-inset button button-dashboard" href="#/app/buy_btc_keypad">
                    <div class="item item-text-wrap">
                        <div class="btn-dashboard-icon btn-dashboard-icon-bitcoin">
                            <img src="img/bitcoin-logo.svg"/>
                        </div>
                        <h2>
                            Buy Bitcoin
                        </h2>
                        <p>R3005.00</p>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a class="list-inset button button-dashboard" href="#/app/sell_btc_keypad">
                    <div class="item item-text-wrap">
                        <div class="btn-dashboard-icon btn-dashboard-icon-bitcoin">
                            <img src="img/bitcoin-logo.svg"/>
                        </div>
                        <h2>
                            Sell Bitcoin
                        </h2>
                        <p>R3000.00</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <a class="list-inset button button-dashboard" href="#/login">
                    <div class="item item-text-wrap">
                        <div class="btn-dashboard-icon btn-dashboard-icon-air">
                            <img src="img/air-logo.svg"/>
                        </div>
                        <h2>
                            Buy Air
                        </h2>
                        <p>R15.05</p>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a class="list-inset button button-dashboard" href="#/login">
                    <div class="item item-text-wrap">
                        <div class="btn-dashboard-icon btn-dashboard-icon-air">
                            <img src="img/air-logo.svg"/>
                        </div>
                        <h2>
                            Sell Air 
                        </h2>
                        <p>R14.95</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a class="list-inset button button-dashboard button-airtime" href="#/app/buy_airtime">
                    <div class="item item-text-wrap" align="center">
                        <div class="btn-dashboard-icon btn-dashboard-icon-top-up">
                            <img src="img/topup-arrow.svg"/>
                        </div>
                        <h2>
                            Buy Airtime
                        </h2>
                    </div>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
