<ion-view view-title="Agent Dashboard">
    <ion-content>

        <div class="row">
            <div class="col col-50">
                <a class="list-inset button button-dashboard" href="#/app/buy_btc_keypad">
                    <div class="item item-text-wrap">
                        <h2>
                            Buy<br>
                        </h2>
                        Bitcoin <br>
                        R3005.00
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a class="list-inset button button-dashboard" href="#/app/sell_btc_keypad">
                    <div class="item item-text-wrap">
                        <h2>
                            Sell
                        </h2>
                        Bitcoin <br>
                        R3000.00
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <a class="list-inset button button-dashboard" href="#/login">
                    <div class="item item-text-wrap">
                        <h2>
                            Buy<br>
                        </h2>
                        Air <br>
                        R15.05
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a class="list-inset button button-dashboard" href="#/login">
                    <div class="item item-text-wrap">
                        <h2>
                            Sell<br>
                        </h2>
                        Air <br>
                        R14.95
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a class="list-inset button button-dashboard" href="#/app/buy_airtime">
                    <div class="item item-text-wrap" align="center">
                        <h2>
                            Buy Airtime
                        </h2>
                    </div>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
