<ion-view view-title="Login">
    <ion-content class="padding">
        <div class="list card padding">
            <label class="item item-input">
                <input type="email" ng-model="user.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="user.password" placeholder="Password">
            </label>
            <button ng-click="logIn(user)" class="button button-block button-dark activated">
                Log In
            </button>
        </div>
        <div class="list" style="text-align:center">
            <button ng-click="modal.show()"
                    class="button button-small button-outline icon-left ion-person-add button-dark">
                Create New Account
            </button>
        </div>
    </ion-content>
</ion-view>