<ion--view view-title="Success">
    <ion-content class="center padding">
        <div class="row text-center">
            <div class="col col-100">
                <h1>Success</h1>
                <br>
                <h4>Collect R {{ amount }} from the agent.</h4>
                <br>

                <p>Link to transaction</p>
            </div>
        </div>
    </ion-content>


    <a class="high-footer bar bar-footer bar-air" href="#/app/dashboard">
        <h1 class="title">Done</h1>
    </a>
</ion--view>